.proyectos {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  background: rgba(240, 240, 240, 0.5); /* Gris claro con transparencia */
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 32px;
  font-weight: bold;
}
